.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.samplestyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.webp') no-repeat;
}

.boardstyle1 {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: #c6c6c6;
}

.boardflame1 {
  width: 282px;
  height: 282px;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.boardstyle2 {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  background-color: #c6c6c6;
}

.boardflame2 {
  width: 492px;
  height: 492px;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.boardstyle3 {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 480px;
  background-color: #c6c6c6;
}

.boardflame3 {
  width: 912px;
  height: 492px;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.boardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topflame1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 74px;
  margin-bottom: 10px;
  background-color: #c6c6c6;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.topflame2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 492px;
  height: 74px;
  margin-bottom: 10px;
  background-color: #c6c6c6;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.topflame3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 912px;
  height: 74px;
  margin-bottom: 10px;
  background-color: #c6c6c6;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.boardoutsideflame1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 400px;
  background-color: #c6c6c6;
  border-top: 6px solid white;
  border-right: 6px solid gray;
  border-bottom: 6px solid gray;
  border-left: 6px solid white;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
}

.boardoutsideflame2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 520px;
  height: 620px;
  background-color: #c6c6c6;
  border-top: 6px solid white;
  border-right: 6px solid gray;
  border-bottom: 6px solid gray;
  border-left: 6px solid white;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
}

.boardoutsideflame3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 940px;
  height: 620px;
  background-color: #c6c6c6;
  border-top: 6px solid white;
  border-right: 6px solid gray;
  border-bottom: 6px solid gray;
  border-left: 6px solid white;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px;
  border-color: gray;
}

.stonestyle {
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border-top: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
  border-left: 4px solid white;
}

.resetoutflame1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0 32px;
  background-color: gray;
}

.resetoutflame2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 136px;
  background-color: gray;
}

.resetoutflame3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 346px;
  background-color: gray;
}

.resetflame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #c6c6c6;
  border-top: 5px solid white;
  border-right: 5px solid gray;
  border-bottom: 5px solid gray;
  border-left: 5px solid white;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

.resetflame:active {
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 20%);
  transform: scale(0.8);
}

.reset {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.webp') no-repeat;
  transition: transform 0.1s ease;
}

.reset:active {
  transform: scale(0.8);
}

.flagflame,
.timerflame {
  width: 72px;
  height: 48px;
  background-color: #c6c6c6;
  border-top: 2px solid gray;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid gray;
}

.timerboard,
.flagboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: #000;
}

.sevensegment {
  display: flex;
}

.digit {
  font-size: 30px;
  font-weight: bold;
  color: #f00;
  text-align: center;
  background: black;
  border-radius: 5px;
}

.minesweepercontainer {
  display: flex;
  flex-direction: row-reverse;
}

.gameoverboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 270px;
  background-color: #f8f8f8;
  border-top: 1px solid white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid white;
}

.gameoverboardflame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 272px;
  margin-left: 30px;
  background-color: white;
  border-top: 1px solid white;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid white;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 10%);
}

.flag,
.question {
  width: 30px;
  height: 30px;
  background-image: url('~/src/assets/images/icons.webp');
  background-repeat: no-repeat;
  background-size: 322px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.difficulty {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.levelLink {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #23527c;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.levelLink:hover {
  text-decoration: underline;
}

.levelLink.active {
  font-weight: bold;
  color: #444;
}

/* #c6c6c6;うすい灰色 */

/* gray;灰色 */

/* width: 252px;
  height: 313.5px; */

/* CSSのorderプロパティを使用して、フレックスアイテムの順序を制御します。
デフォルトでは、orderの値は0ですが、これを負の値に設定することで、
他のフレックスアイテムよりも後ろに移動させることができます。 */
